body,pre,td,select,input,textarea {font-family : ＭＳ ゴシック;font-size: x-small;word-break: break-all;}
form {margin:0px;}
.msp {font-family : ＭＳ Ｐゴシック;}
.fs9 {font-size: 9px;}
body {margin:0px;padding:0px;}
.m_b {margin:0px;padding:0px;}
body {background-color: #FFFFFF;color: #000000;}
table { table-layout:fixed;word-break: break-all; }